colorama~=0.4.6
emot==3.1
gensim==4.3.0
google_api_python_client==2.83.0
matplotlib==3.6.2
numpy==1.23.3
pandas==1.5.0
psycopg2==2.9.4
regex==2022.10.31
scikit_learn==1.2.2
googleapiclient==2.64.0
scikit-learn~=1.2.0
spacy~=3.4.4
langdetect~=1.0.9